* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: antiquewhite;
  margin-bottom: 20px;
}

.titulo {
  color: antiquewhite;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.temp {
  color: antiquewhite;
  font-weight: bold;
}

.tempTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tempInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.busca {
  display: flex;
  justify-content: center;
  width: 300px;
}

.busca #searchInput {
  padding: 5px;
  margin-right: 3px;
  flex: 1;
  outline: none;
  border-radius: 5px;
  border: 0 ;
  color: gray;
  background-color: antiquewhite;
}

.busca button {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
  background-color: antiquewhite;
  color: gray;
  margin-left: 5px;
  cursor: pointer;
}

.busca button:hover {
  color: antiquewhite;
  background-color: gray;
}

input::placeholder {
  color: gray;
}

.resultado {
  width: 300px;
  display: none;
  border: 1px dotted gray;
  margin-top: 20px;
  border-radius: 15px;
  background-color: antiquewhite;
}

.titulo{
  width: 100px;
  color: antiquewhite;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.info{
  display: flex;
  width: 100%;
}

.info .temp {
  flex: 1;
  text-align: center;
}

.info .vento {
  flex: 1;
  text-align: center;
}

.tempTitulo,
.ventoTitulo{
  color: antiquewhite;
  font-size: 16px;
  margin-bottom: 5px;
}

.tempInfo,
.ventoInfo {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bold;
}

.tempInfo sup {
  font-size: 15px;
  font-weight: normal;
}

.ventoInfo span {
  font-size: 15px;
  font-weight: normal;
}

.ventoArea{
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 25px;
}

.ventoPonto {
  width: 15px;
  height: 1px;
  background-color: gray;
  transform-origin: left;
}

.aviso {
  color: antiquewhite;
  padding-top: 20px;
}

.climaTitulo{
  color: gray;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: -25px;
}